<div class="categories">
    <div>
    <a class="@class@" href="{{{site.root}}}/">全部 [{{{total}}}]</a>
    {{#categories}}
    <a class="{{{class}}}" href="{{{url}}}/">{{{name}}} [{{{number}}}]</a>
    {{/categories}}
    </div>
</div>

<ul class="lists center">

    {{#posts}}
        <li>

            <a class="entry" href="{{{url}}}">
                <h3>{{{title}}}</h3>
                <p class="time">{{{time.M}}}月 {{{time.DD}}}, {{{time.YYYY}}}</p>
            </a>

            <a class="author" href="{{{author.url}}}" target="_blank">
                <img src="{{{author.avatar}}}" />
            </a>

        </li>
    {{/posts}}

</ul>

<div class="pagination center">
    <a rel="prev" href="{{{prev}}}">上一页</a>
    <a rel="next" href="{{{next}}}">下一页</a>
</div>
