<div class="categories">
    <div class="center">
        <a class="@class@" href="{{{site.root}}}/">全部</a>
    {{#categories}}
    <a class="{{{class}}}" href="{{{url}}}">{{{name}}}</a>
    {{/categories}}
    </div>
</div>

<div id="posts" class="center">

    <ul>
    {{#posts}}
        <li>

            <img src="{{{thumb}}}" />

            <h3><a href="{{{url}}}">{{{title}}}</a></h3>
            <p class="time">{{{time.MMM}}} {{{time.DD}}}, {{{time.YYYY}}}</p>

            <a class="author" href="{{{author.url}}}" target="_blank">
                <img src="{{{author.avatar}}}" />
            </a>

            <div class="label">
            {{#tags}}
            <p>{{{name}}}</p>
            {{/tags}}
            </div>

        </li>
    {{/posts}}
    </ul>

    <div id="pagination">
        <a rel="prev" href="{{{prev}}}">← Newer Posts</a>
        <a rel="next" href="{{{next}}}">Older Posts →</a>
    </div>

</div>
