{% extends 'layout.html' %}
{% import 'partials/pagination.html' as pagination %}

{% block title %}
{{ data.config.title }}
{% endblock %}

{% block content %}
<div class="wrap">
    {% spaceless %}

    {% for id in index.posts %}
    {% set post = helper.post(id) %}

    {% if loop.first %}<div class="posts">{% endif %}

    <a href="{{ post.url }}">
    <img class="thumb" width="{{ post.thumb.width }}" height="{{ post.thumb.height }}" src="{{ post.thumb.src }}" />
    </a>

    {% if (loop.index % 3 === 0 && loop.index != index.posts.length) %}</div><div class="posts">{% endif %}
    {% if loop.last %}</div>{% endif %}

    {% endfor %}

    {% endspaceless %}
</div>

{{ pagination.render(index) }}
{% endblock %}

{% block script %}
<script src="{{ data.config.root }}/js/zepto.js" ></script>
<script src="{{ data.config.root }}/js/script.js" ></script>
{% endblock %}
