{% extends 'layout.html' %}
{% import 'partials/pagination.html' as pagination %}

{% block title %}
{{ data.config.title }}
{% endblock %}

{% block content %}
<div id="posts" class="center">
    {% spaceless %}

    {% for id in index.posts %}
    {% set post = helper.post(id) %}

    {% if loop.first %}<div>{% endif %}

        <a href="{{ post.url }}">{{ post.title }}
        {% if post.thumb %}

        {% if data.config.thumbnail_size %}
        <img class="thumb" width="{{ post.thumb.width }}" height="{{ post.thumb.height }}" src="{{ post.thumb.src }}" />
        {% else %}
        {% endif %}

        {% endif %}
        </a>

    {% if (loop.index % 3 === 0 && loop.index != index.posts.length) %}</div><div>{% endif %}

    {% if loop.last %}</div>{% endif %}

    {% endfor %}

    {% endspaceless %}

    {{ pagination.render(index) }}

</div>
{% endblock %}
