<!DOCTYPE html>
<html lang="en">
<head>
@import(extend/head.html, {
    "title": "{{{title}}} - {{{site.title}}}"
})
</head>
<body>

@import(extend/header.html, {
    "back": "<span id=\"back\">« 返回</span>"
})

<div class="post center">

    <h2>{{{title}}}</h2>
    <p><a href="{{{author.url}}}">{{{author.name}}}</a> 发表于 {{{time.M}}}月 {{{time.DD}}}, {{{time.YYYY}}} .</p>

    <div class="content">{{{body}}}</div>

</div>

@import(extend/fooetr.html)

</body>

<script>
Array.prototype.slice.call(document.links).forEach(function(link){
   if (link.hostname != window.location.hostname) {
       link.target = '_blank'
   }
})

document.getElementById('back').addEventListener('click', function() {
    if (document.referrer.indexOf(location.host) > -1) {
        history.back()
    } else {
        location.href = document.getElementById('title').href
    }
})
</script>

</html>
