{% extends 'layout.html' %}

{% block title %}
{{ post.title }} - {{ data.config.title }}
{% endblock %}

{% block content %}


<div class="post">

    <div class="info">
        <p>
        {% for category in post.categories %}
        <a href="{{ category.url }}">#{{ category.name}}</a>        
        {% endfor %}
        </p>
    </div>

    <div class="content">{% autoescape false %}{{ post.body }}{% endautoescape %}</div>

    <div class="relate">
        {% if post.prev %}
        {% set prev = helper.post(post.prev) %}
        <a rel="prev" href="{{ prev.url }}">← {{ prev.title }}</a>
        {% endif %}

        <span>/</span>

        <a href="{{ data.config.root }}/">index</a>

        <span>/</span>

        {% if post.next %}
        {% set next = helper.post(post.next) %}
        <a rel="next" href="{{ next.url }}">{{ next.title }} →</a>
        {% endif %}
    </div>

</div>
{% endblock %}
