
body, div, h1, h2, h3, h4, h5, p, ul, li {
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
}
html {
    -webkit-text-size-adjust: 100%;
}
html, body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    background: #fff;
}
body {
    font-family: "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #f0f0f0;
}
a {
    text-decoration: none;
}

.header {
    text-align: center;
    padding: 70px 0;
    color: #2E2E40;
    font-size: 24px;
    line-height: 1;
}
.header em {
    font-style: normal;
    font-size: 100px;
    color: #333;
}
.header a {
    color: #2E2E40;
}

.wrap {
    width: 80%;
    margin: 0 auto;
}
.posts {
    position: relative;
}
.posts img {
    display: block;
}
.posts a {
    position: absolute;
    top: 0;
    z-index: 0;
    padding: 30px;
    background: rgba(255, 255, 255, .7);
}
.posts a:hover {
    z-index: 10;
}
.posts a:nth-child(1) {
    left: 0;
}
.posts a:nth-child(2) {
    left: 33.3333333%;
}
.posts a:nth-child(3) {
    left: 66.6666666%;
}
