
body, div, h1, h2, h3, h4, h5, p, ul, li {
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
}
html {
    -webkit-text-size-adjust: 100%;
}
html, body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    background: #fff;
}
body {
    font-family: "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.header {
    background: #30B3DF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    position: relative;
}
.header a {
    color: #fff;
    text-decoration: none;
    padding: 13px 0 14px;
    display: inline-block;
    line-height: 1;
}
.header span {
    color: #fff;
    font-size: 14px;
    position: absolute;
    bottom: 14px;
    font-weight: normal;
    left: 20px;
    cursor: pointer;
}

.categories {
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-top: 30px;
}
.categories > div {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}
.categories a {
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #666;
    padding: 5px 13px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 10px 5px;
}
.categories a.current_category, .categories a:hover {
    background: #f1f1f1;
}

.lists.center {
    margin-top: 50px;
}
.lists li {
    padding: 20px 14px;
    background: #fff;
    position: relative;
}
.lists li:hover {
    background: #F6F7F7;
}
.entry {
    display: block;
    text-decoration: none;
}
.entry h3 {
    color: #485763;;
    font-size: 18px;
}
.entry p {
    color: #969696;;
    font-size: 12px;
    margin-top: 10px
}
.author {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 14px;
    overflow: hidden;
    top: 50%;
    margin-top: -15px;
}
.author img {
    width: 100%;
    display: block;
    height: auto;
}

.pagination.center {
    margin-top: 70px;
    text-align: center;
}
.pagination a {
    color: #30B3DF;
    border: 1px solid #30B3DF;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    padding: 4px 14px;
    border-radius: 20px;
    margin: 0 5px;
}
.pagination a:hover {
    color: #fff;
    background: #30B3DF;
}
.pagination a[href=""] {
    display: none;
}
.footer.center {
    margin-top: 100px;
    color: #335975;
    font-size: 12px;
    text-align: center;
    padding-bottom: 30px;
}
.footer:first-letter {
    font-family: sans-serif;
}
.footer a {
    color: #37444E;
}

.post.center {
    margin-top: 70px;
}
.post > h2 {
    margin-top: 20px;
    color: #485763;
    font-size: 24px;
}
.post > p {
    font-size: 14px;
    color: #969896;
    margin-top: 10px;
}
.post > p a {
    color: #666;
    margin-right: 10px;
}
.post .content:before {
    content: '';
    height: 1px;
    display: block;
    width: 30px;
    margin: 50px 0 30px;
    background: #eee;
}

.center {
    position: relative;
    margin: 0 auto;
    max-width: 700px;
    padding: 0 20px;
}

.content {
    font-size: 16px;
    line-height: 1.7;
    color: #4c4c4c;
}
.content h1, .content h2, .content h3, .content h4, .content h5 {
    font-weight: 700;
    margin-bottom: 14px;
    margin-top: 26px;
    color: #484848;
}
.content p {
    margin-bottom: 16px;
    word-break: break-word;
}
.content h5 {
    font-size: 16px;
}
.content h4 {
    font-size: 18px;
}
.content h3 {
    font-size: 20px;
}
.content h2 {
    font-size: 22px;
    padding-bottom: 4px;
    border-bottom: 1px solid #eee;
}
.content h1 {
    font-size: 24px;
    padding-bottom: 4px;
    border-bottom: 1px solid #eee;
}
.content blockquote {
    margin: 14px;
    padding-left: 30px;
    border-left: 3px solid #999;
}
.content a {
    color: #333;
    text-decoration: underline;
}
.content hr {
    height: 3px;
    width: 100%;
    margin: 20px auto;
    background: #eee;
    border: none;
}
.content ul, .content ol {
    margin: 10px 0;
    padding-left: 25px;
}
.content ul li {
    list-style: disc;
    margin-top: 4px;
}
.content ol li {
    list-style: decimal;
    margin-top: 4px;
}
.content img {
    margin-top: 14px;
    margin-bottom: 14px;
    display: block;
    max-width: 100%;
    height: auto;
}
code {
    background: #f7f7f7;
    border: 1px solid #e6e6e6;
    padding: 1px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

table {
    margin-bottom: 10px;
    padding: 0;
    border-collapse: collapse;
}
table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr th :first-child, table tr td :first-child {
    margin-top: 0;
}
table tr th :last-child, table tr td :last-child {
    margin-bottom: 0;
}

/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

pre code {
  display: block;
  padding: 14px;
  color: #333;
  overflow-x: auto;
  line-height: 1.4;
}

.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}
