body, div, h1, h2, h3, h4, h5, p, ul, li {
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
    line-height: 1;
}
html, body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    background: #f8f8f8;
}
body {
    font-family: Helvetica, sans-serif;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}
a {
    text-decoration: none;
}

.header {
    text-align: center;
    padding: 100px 0 20px;
    font-size: 50px;
    color: #2E2E40;
}
.header a {
    font-family: monospace;
    font-size: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.header a span {
    display: inline-block;
    background: rgba(255, 255, 255, .7);
    padding: 4px 8px;
    margin: 0 8px;
    transition: transform .3s;
}
.header a span:hover {
    transform: rotate(0)!important;
}

.wrap {
    width: 80%;
    margin: 0 auto;
    padding: 70px 0;
    max-width: 1000px;
}
.posts {
    position: relative;
}
.posts img {
    display: block;
}
.posts a {
    position: absolute;
    top: 0;
    z-index: 0;
    padding: 30px;
    background: rgba(255, 255, 255, .7);
}
.posts a:hover {
    z-index: 10;
}
.posts a:nth-child(1) {
    left: 0;
}
.posts a:nth-child(2) {
    left: 33.3333333%;
}
.posts a:nth-child(3) {
    left: 66.6666666%;
}

.post {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 0 140px;
    text-align: center;
}
.info h2 {
    font-size: 40px;
    margin: 0;
}
.info span {
    color: #575558;
    margin: 0 5px;
    font-size: 15px;
}
.content {
    text-align: center;
    margin-top: 70px;
}
.content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 40px auto 0;
}
.content p {
    margin-top: 40px;
    font-size: 16px;
    color: #272727;
}
.content a {
    color: #DA1D69;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 5px;
}
.content a:hover {
    border-bottom: 1px solid #DA1D69;
}
.relate {
    margin-top: 100px;
    font-size: 16px;
    color: #424242;
}
.relate a {
    color: #393939;
    margin: 0 10px;
}
.relate a:hover {
    text-decoration: underline;
}

#pagination {
    width: 80%;
    max-width: 1000px;
    margin: 30px auto 0;
    padding-bottom: 100px;
    text-align: center;
    font-size: 16px;
}
#pagination a {
    color: #393939;
    margin: 0 10px;
}
#pagination a:hover {
    text-decoration: underline;
}
