/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #8e908c;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #c82829;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5871f;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #eab700;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #718c00;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #8959a8;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #f7f7f7;
  color: #4d4d4c;
  padding: 14px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 16px;

  & table {
    margin-bottom: 0;
  }

  & td,
  & tr {
    padding: 0!important;
    border: none!important;
    background: transparent!important;
  }

  & .mark {
    display: none;
  }

  & pre {
    margin: 0;
    padding: 0;
    white-space: pre;
    font-size: inherit;
    line-height: inherit;
    background: transparent;
  }

  & .line {
    text-align: right;
    padding: 0;
    padding-right: 10px!important;
    border: none;
    color: #a7a7a7;
  }

  & .code {
    padding-left: 10px!important;
  }
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .line {
    display: none;
  }
}
