.nav {
  position: relative;
  margin: 70px auto 0;
  width: 60%;

  &:before {
    content: '';
    height: 3px;
    background: #ddd;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  & span {
    float: right;
    font-size: 14px;
    color: #999;
    margin-top: 10px;
  }

  & button {
    background: none;
    border: none;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    margin-right: 14px;
    padding: 10px 2px 0;
    border-top: 3px solid #333;
    position: relative;
    z-index: 1;
    outline: none;

    &:disabled {
      cursor: default;
      color: #888;
      border-top-color: #888;
    }
  }
}

@media screen and (max-width: 600px) {
  .nav {
    margin-top: 50px;
    width: 100%;
  }
}
