<!doctype html>
<html>
<head>
{% include 'partial/head.html' %}
<title>{% block title %}{% endblock %}</title>
</head>
<body>

{% include 'partial/menu.html' %}

<div class="container">
  <div class="header">
    <div>
      {% block supplement %}{% endblock %}
      <h2>{% block heading %}{% endblock %}</h2>
    </div>
  </div>

  <div class="content">
  {% block content %}{% endblock %}
  </div>

  {% include 'partial/footer.html' %}
</div>

<script src="{{ _url('assets/script.js') }}"></script>
</body>
</html>
