<h1>{{ page.title }}</h1>
<p>time: {{ _time(page.date, 'YYYY-MM-DD hh:mm:ss') }}</p>

<p>
  category:
  {% if page.category %}
  <a href="{{ _url('categories/' + page.category + '/') }}">{{ page.category }}</a>
  {% else %}
  <a href="{{ _url('categories/uncategorized/') }}">{{ __('uncategorized') }}</a>
  {% endif %}
</p>

<h2>tags:</h2>
<ol>
{% for tag in page.tags %}
  <li>
    <a href="{{ _url('tags/' + tag + '/') }}">{{ tag }}</a>
  </li>
{% endfor %}
</ol>

{% if page.toc %}
<h3>toc:</h3>
<div>{{ page.toc }}</div>
{% endif %}

<h4>except:</h4>
<div>{{ page.except }}</div>

<h5>content:</h5>
<div>{{ page.content }}</div>

<h6>paginator:</h6>
{% if page.prev %}
<a href="{{ _url('posts/' + page.prev + '.html') }}">{{ _title(page.prev) }}</a>
{% endif %}
{% if page.next %}
<a href="{{ _url('posts/' + page.next + '.html') }}">{{ _title(page.next) }}</a>
{% endif %}
