{% macro render(type, helper) %}

<div class="wrap">
    {% spaceless %}

    {% for id in type.posts %}
    {% set post = helper.post(id) %}

    {% if loop.first %}<div class="posts">{% endif %}

    <a href="{{ post.url }}">
    <img class="thumb" width="{{ post.thumb.width }}" height="{{ post.thumb.height }}" data-src="{{ post.thumb.src }}" />
    </a>

    {% if (loop.index % 4 === 0 && loop.index != index.posts.length) %}</div><div class="posts">{% endif %}

    {% if loop.last %}</div>{% endif %}

    {% endfor %}

    {% endspaceless %}
</div>

{% endmacro %}
